:root {
    --r: calc(3 / 2);
    --menu-height: 1.4rem;
  }
  
* {
  margin: 0;
  padding: 0;
}
  
body {
  height: 100%;
  font-family: cursive;
  font-size: .8rem;
}

/* canvas {
  z-index: 99;
}

svg {
  z-index: 100;
} */

.menu {
  height: var(--menu-height);
}

.editor {
  position: relative;
  width: 100%;
  height: calc( (1 / var(--r)) * 100vw );
  max-width: calc( min(100vw, var(--r) * 100vh ));
  max-height: calc( min(100vh - var(--menu-height), (1 / var(--r)) * 100vw));
  background-color: skyblue;
  margin: 0 auto;
}
